:root {
  --burlywood: #deb887;
  --white: white;
  --green: #3cb371;
  --orange: #c58612;
  --blue: blue;
}
main {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'VT323', 'Courier New', Courier, monospace;
  width: 100vw;
  height: 100vh;
  background: url(/src/assets//images/bgPattern.svg);
}

.px_border {
  box-shadow:
    16px 0 var(--white),
    -16px 0 var(--white),
    0 -16px var(--white),
    0 16px var(--white),
    4px 0 0 8px var(--white),
    -4px 0 0 8px var(--white),
    0 -4px 0 8px var(--white),
    0 4px 0 8px var(--white),
    20px 0 var(--orange),
    -20px 0 var(--orange),
    0 -20px var(--orange),
    0 20px var(--orange),
    0 0 0 12px var(--orange),
    0 8px 0 8px var(--orange),
    0 -8px 0 8px var(--orange),
    8px 0 0 8px var(--orange),
    -8px 0 0 8px var(--orange);
}

.px_button {
  box-shadow:
    4px 0 var(--white),
    -4px 0 var(--white),
    0 -4px var(--white),
    0 4px var(--white),
    8px 0 var(--blue),
    -8px 0 var(--blue),
    0 -8px var(--blue),
    0 8px var(--blue),
    0 0 0 4px var(--blue);
}
